<section class="login">
   <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3 text-center">
            <h2 class="text-center"><%= t 'forgot' %></h2>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="login-form">
                <%= devise_error_messages! %>
                 <div class="form-group text-left">
                   <label><%= t 'activerecord.attributes.user.email' %></label>
                   <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email@email.com" %>
                 </div>
                 <button type="submit" class="btn btn-success btn-md"><%= t 'send_instructions' %></button>
                 <a href="<%= new_session_path(resource_name) %>" class="back mt-4"><%= t 'back' %></a>
                 <a href="<%= new_confirmation_path(resource_name) %>" class="confirm mt-2"><%= t 'retrieve' %></a>
              </div>
            <% end %>
         </div>
      </div>
   </div>
</section>
