<% @events.each do |e| %>
  <div class="col-12">
    <div class="product-list-box">
      <div class="row">
        <div class="col-12 col-md-6">
          <a href="<%= event_path(e) %>">
            <div class="img">
              <%= image_tag 'https://admin.h2oecoturismo.com.br/'+e.banner_img, lazy: true %>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <div class="special-included-bg pt-2">
            <a href="<%= event_path(e) %>">
              <h4><%= e.event_locales.first.name %></h4>
            </a>
            <ul class="mt-3">
              <li>
                <i class="fas fa-calendar-alt"></i>
                <%= l e.start_date %> - <%= l e.end_date %>
              </li>
              <li>
                <i class="fas fa-users"></i>
                <%= t 'activerecord.attributes.event.number_participants' %>: <%= e.number_participants %>
              </li>
            </ul>
          </div>
          <div class="footer">
            <div class="price"></div>
            <a href="<%= event_path(e) %>" class="btn btn-success"><%= t 'see_more' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="col-12">
  <% if @events.next_page.present? %>
    <ul class="pagination">
      <li class="page-item">
        <%= link_to "Load More", events_path(search: params[:search], page: @events.next_page), remote: true, class: "page-link" %>
      </li>
    </ul>
  <% else %>
    <h5></h5>
  <% end %>
</div>
<% if @events.count == 0 %><% end %>
