<section class="you-may-like">
  <div class="container">
    <h1 class="mb30 mt40">You may also like</h1>
    <div class="row">
      <% @related_tours.each do |tour| %>
        <div class="col-md-4 mb30">
          <div class="product"> <%= image_tag tour.face_image_url, :height => "125", :style => 'object-fit: cover;', lazy: true %>
            <h4><a href=""><%= tour.tour_locales.first.nome %></a></h4>
            <p><%= tour.localidade %></p>
            <div class="row">
              <div class="col-md-6 brl text-center"><% price = tour.tour_prices&.first %><%= price ? number_to_currency(price.preco_adulto) : '' %></div>
              <div class="col-md-6">
                <a href="<%= tour_path(tour) %>" class="btn btn-success btn-block"><%= t 'see_more' %></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>