<% if @tour_price %>
  
  <!-- <h6>
    <%#= t 'prices_good_for' %>
    <strong>
      <%#= @tour_price.tour_price_type.tour_price_type_locales.where('locale = ?', params[:locale]).first.nome %>
    </strong>
  </h6> -->

  <div class="row mb20">
    <div class="col-12 col-lg-3">
      <i class="fas fa-user"></i> <%= t 'adults' %>
      <% unless @tour_price.idade_crianca2.blank? %>
        <small>(<%= t 'older_than' %> <%= @tour_price.idade_crianca2 %> <%= t 'yrs_old' %>)</small>
      <% end %>
      <span><%= number_to_currency @tour_price.preco_adulto %></span>
    </div>
    <div class="col-lg-9 inactive">
      <div id="" class="row tour_persons">
        <div class="col-12 col-lg-12">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default main-btn-number btn-number" disabled="disabled" data-type="minus" data-field="adults">
                  <span class="fas fa-minus"></span>
                </button>
              </span>
              <input type="text" id="adults" name="adults" class="form-control input-number main-input-number mt-0 text-center" value="0" data-value="<%= @tour_price.preco_adulto %>" min="0" max="10">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default main-btn-number btn-number" data-type="plus" data-field="adults">
                  <span class="fas fa-plus"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        

      </div>
     </div>
   </div>
    <% if @tour_price.preco_crianca2 %>
    <div class="row">
      <div class="col-lg-3">
      <div class="form-group tour_persons">
        <i class="fas fa-child"></i> <%= t 'children' %>
        <small>(<%= t 'up_to' %> <%= @tour_price.idade_crianca2 %> <%= t 'yrs_old' %>)</small>
        <span class="price"><%= number_to_currency @tour_price.preco_crianca2 %></span>
      </div>
    </div>
      <div class="col-12 col-lg-5 inactive">
         <div class="form-group tour_persons">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default main-btn-number btn-number" disabled="disabled" data-type="minus" data-field="children2">
                <span class="fas fa-minus"></span>
              </button>
            </span>
            <input type="text" id="children2" name="children2" class="form-control input-number main-input-number mt-0 text-center" value="0" data-value="<%= @tour_price.preco_crianca2 %>" min="0" max="10">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default main-btn-number btn-number" data-type="plus" data-field="children2">
                <span class="fas fa-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 inactive">
       
            
            <h5>Total: <span id="price">0</span></h5>
          
      </div>
      <div class="col-lg-2 inactive">
        <div class=" text-right">
          <div class="availability-box">
            <div id="add_to_trip_box"><%= render 'add_to_trip_box' %></div>
            <a id="add_to_trip_btn" class="btn btn-dark"><%= t 'buy_now' %></a>
          </div>
        </div>
      </div>
      </div>
    <% end %>

    <% if @tour_price.preco_crianca %>
      <div class="col-12 col-lg-12">
        <i class="fas fa-child"></i> <%= t 'children' %>
        <small>(<%= t 'up_to' %> <%= @tour_price.idade_crianca %> <%= t 'yrs_old' %>)</small>
        <span><%= number_to_currency @tour_price.preco_crianca %></span>
      </div>
    <% end %>
    <!-- <div class="col-12 col-lg-3">
      <div class="form-group tour_persons">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default main-btn-number btn-number" disabled="disabled" data-type="minus" data-field="children">
      l        <span class="fas fa-minus"></span>
            </button>
          </span>
          <input type="text" id="children" name="children" class="form-control input-number main-input-number mt-0 text-center" value="0" data-value="<%= @tour_price.preco_crianca %>" min="0" max="10">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default main-btn-number btn-number" data-type="plus" data-field="children">
              <span class="fas fa-plus"></span>
            </button>
          </span>
        </div>
      </div>
    </div> -->
  

<% else %>
  <div class="prices-box">
    <%= t 'no_price_to_show' %>
  </div>
<% end %>
 