<div class="row call-to-action">
  <div class="col-2 img">
    <%= image_tag 'call-to-action-customer-support.png', alt: 'equipe-h2o', title: 'equipe-h2o' %>
  </div>
  <div class="col-10">
    <h3><%= t 'interested_more_info' %> <%= t 'ready_to_book' %></h3>
    <div><%= t 'talk_to_us_here' %> <span><%= t 'online_chat' %></span>,</div>
    <div><%= t 'phone_or_whatsapp' %>: <%= render 'application/phone_numbers_whatsapp_link' %>,</div>
    <div><%= t 'send_an_email_to' %>: <span>reservas@h2oecoturismo.com.br</span></div>
    </div>
  </div>
</div>
